@use 'partials/_base';

body
{
	background: rgb(250, 250, 255);
}

body, a
{
	color: rgb(50, 50, 50);
}

form
{
	display: flex;
	flex-direction: column;
	padding: 0.5em;
	
	input
	{
		border-color: #39c4ff;
		border-radius: 5px;
		padding: 0.5em;
	}
	
	button[type="submit"]
	{
		cursor: pointer;
		padding: 0.5em;
		font-weight: bold;
	}
}

header
{
/*	background: red;*/
	
	h1, p
	{
		padding: 0.5em;
		text-align: center;
	}
}

nav
{
/*	background: purple;*/
	padding: 1em;
	text-align: center;
	
	.navLinks
	{
		display: inline-block;
		padding-bottom: 1em;
		a
		{
			font-size: 1.2em;
			font-weight: bolder;
			text-decoration: none;
			padding: 0.5em;
			margin-left: 0.25em;
			margin-right: 0.25em;
			background: linear-gradient(rgb(250, 250, 255) 70%, #39c4ff);
			border-radius: 5px;
			
			&:focus, &:hover
			{
				background: linear-gradient(#39c4ff 70%, rgb(250, 250, 255));
				color: black;
				font-style: italic;
			}
			
			&.active
			{
				background-image: linear-gradient(rgb(250, 250, 255) 70%, rgb(50, 50, 50));
				&:focus, &:hover
				{
					background: linear-gradient(#39c4ff 70%, rgb(50, 50, 50));
					color: black;
					font-style: italic;
				}
			}
		}
		
	}
	
	.userForms
	{
		display: flex;
		justify-content: center;

		form
		{
			p
			{
				background: rgb(50, 50, 50);
				padding: 0.5em;
				border-radius: 5px;
				font-size: 1.2em;
				font-weight: bolder;
				color: #39c4ff;
			}
		}
	}
}

main
{
/*	background: yellow;*/
	padding: 1em;
	text-align: center;
	
	.order
	{
		width: 50%;
		min-height: 5em;
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		border-style: solid;
		border-width: 1em;
		border-color: rgba(100, 100, 100, 0.5);
		border-radius: 0 25px;
		padding: 2em;
			
		&.failure
		{
	/*		background: #ffc439;*/
			background: #dd3019;
			color: #39c4ff;
		}
		
		&.success
		{
	/*		background: #ffc439;*/
			background: #19dd30;
/*			color: #39c4ff;*/
		}
	}
	
	h2
	{
		font-size: 2em;
	}
	
	img
	{
		margin: auto;
		margin-top: 2em;
		margin-bottom: 2em;
		width: 30em;
	}
	
	.allProducts
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 2em;
	}
	
	.cardProduct
	{
		width: 20em;
		min-height: 32em;
		margin: 0.5em;
/*		background: silver;*/
		background: rgb(240, 240, 245);
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		overflow: hidden;
		padding: 1em;
		border-style: solid;
		border-width: 1px;
		border-color: #39c4ff;
		border-radius: 0 25px;
		box-shadow: 2px 2px 2px #39c4ff;
		transition: all 0.8s;

		&.home
		{
			text-align: left;
			justify-content: flex-start;
		}

		h3
		{
			margin-top: 0.5em;
			margin-left: 0.5em;
			margin-right: 0.5em;
			font-size: 1.5em;
		}
		
		p
		{
			margin: 1em;
		}

		img
		{
			width: 100%;
			height: auto;
			max-height: 70%;
			margin: initial;
			border-radius: 0 25px;
			transition: all 0.8s;
		}
		
		.metaproduct
		{
			opacity: 0;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			bottom: -5em;
			transition: all 0.8s;
			*
			{
				font-size: 1.2em;
			}
		}
		
		&:hover, &:focus-within
		{
			box-shadow: 3px 3px 3px rgba(150, 150, 150, 0.8);
			border-radius: 25px 0;
			text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.2);
			
			img
			{
				border-radius: 25px 0;
			}
			
			.metaproduct
			{
				opacity: 100%;
/*				background-color: #39c4ff;*/
				background-color: rgba(57,196,255, 0.8);
				padding: 1em;
				margin: 1em;
				border-radius: 25px 0;
				font-weight: bold;
				height: auto;
				transform: translate(0, -5em);
			}
		}
	}
	
	.productPage
	{
/*		background: red;*/
		min-height: 25em;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		
		h2
		{
			width: 100vw;
		}
		
		img
		{
			width: 20em;
			margin: initial;
			margin-left: 2em;
			padding: 1em;
			border-style: solid;
			border-width: 1px;
			border-color: #39c4ff;
			border-radius: 0 25px;
			box-shadow: 2px 2px 2px #39c4ff;
		}
		
		.productDetail
		{
			text-align: left;
			margin-left: 2em;
/*			background: yellow;*/

			form
			{
				input, button[type="submit"]
				{
					width: 10em;
				}
			}
		}
	}
}

aside
{
	.cartCard
	{
		justify-content: flex-start;
		
		p
		{
/*			background: #ffc439;*/
			background: #39c4ff;
			margin: 0;
			margin-top: 11px;
			margin-bottom: 11px;
			height: 35px;
			min-height: 35px;
			max-height: 55px;
			border-radius: 4px;
			width: 100%;
			line-height: 35px;
			font-weight: bold;
		}
	}
}

footer
{
/*	background: blue;*/
	text-align: right;
	padding: 1em;
}
